
<div class="container-fluid">
    <div class="row ">
        <div class="col-auto col-md-10 ">
            <nav aria-label="breadcrumb " class="first d-md-flex">
                <ol class="breadcrumb indigo lighten-6 first-1 mb-5 ">
                    <li class="breadcrumb-item alt font-weight-bold"><a class="black-text text-uppercase a-bc" href="datasetGroup"><span>Dataset Group</span></a><img class="ml-md-3" src="/admin/img/double-right.png" width="20" height="20"> </li>
                    <li class="breadcrumb-item alt font-weight-bold"><a class="black-text text-uppercase a-bc" href="usersFile"><span>Users File</span></a><img class="ml-md-3" src="/admin/img/double-right.png" width="20" height="20"></li>
                    <li class="breadcrumb-item alt font-weight-bold"><a class="black-text text-uppercase a-bc" href="itemsFile"><span>Items File</span></a><img class="ml-md-3" src="/admin/img/double-right.png" width="20" height="20"> </li>
                    <li class="breadcrumb-item alt font-weight-bold"><a class="black-text text-uppercase a-bc" href="interactionsFile"><span>Interactions File</span></a><img class="ml-md-3" src="/admin/img/double-right.png" width="20" height="20"> </li>
                    <li class="breadcrumb-item alt font-weight-bold"><a class="black-text text-uppercase a-bc" href="solution"><span>Solution</span></a><img class="ml-md-3" src="/admin/img/double-right.png" width="20" height="20"> </li>
                    <li class="breadcrumb-item alt font-weight-bold"><a class="black-text text-uppercase active-1 a-bc" href="campaign"><span>Campaign</span></a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="col-lg-8">
    <form method="POST" action="/upload/createCampaign" enctype="multipart/form-data">
        
        <div class="form-group">
          <label for="campaign"> Campaign Name </label>
          <input type="text" class="form-control" name="campaignName" id="campaignName" placeholder="">
        </div>
        <div class="form-group">
            <input style="margin-top: 1rem;" class="btn btn-success" type="submit" value="Create Campaign" data-toggle="modal" data-target="#smallModal">
        </div>
      </form>
</div>


<br> <br> <br> <br> <br>