<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="REC-ENGINE is a low-cost, accurate and practical reccomendation system suitable for many use cases in E-Commerce.">
   <meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Title -->
<title>REC-ENGINE</title>

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="public/img/favicon.ico">


<!-- CSS Here -->
   <!-- MagnificPopup.css -->
   <link rel="stylesheet" href="public/css/magnific-popup.css">
   <!-- SlickNav.css -->
   <link rel="stylesheet" href="public/css/slicknav.min.css">
   <!-- Owl.carousel.css -->
   <link rel="stylesheet" href="public/css/owl.carousel-2.3.4.min.css">
   <!-- Fontawesome.css -->
   <link rel="stylesheet" href="public/css/fontawesome-free-5.12.0.min.css">
   <!-- Bootstrap.css -->
   <link rel="stylesheet" href="public/css/bootstrap-4.3.1.min.css">
   <!-- Default.css -->
   <link rel="stylesheet" href="public/css/default.css">
   <!-- Style.css -->
   <link rel="stylesheet" href="public/css/style.css">
   <!-- Responsive.css -->
   <link rel="stylesheet" href="public/css/responsive.css">

   <!-- ColorNip.css -->
   <link rel="stylesheet" href="public/css/colornip.min.css">
   <link id="theme" rel="stylesheet" href="public/css/theme-colors/theme-green.css">


   <!-- Jquery -->
   <script src="public/js/jquery-3.4.1.min.js"></script>

</head>
<body>
    <div class="search-overlay"></div>
    <!-- Search Modal -->
    <div class="modal fade" id="search-modal">
        <div class="modal-dialog">
             <div class="modal-content">
                 <form action="index.html" class="search-popup-wrapper">
                     <input type="search" placeholder="Search here...">
                     <i class="fas fa-search"></i>
                 </form>
             </div>
         </div>
     </div>
     <!-- End Search Modal -->
    <!-- Start Header Area -->
    <div class="header-area">
        <div class="container">
            <div class="header-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="site-logo">
							<h2>REC-ENGINE</h2>
                            <a data-toggle="tooltip" title="REC-ENGINE" href="index.html"></a>
                        </div>
                    </div>
                    <div class="col-6 d-lg-none static text-right">
                        <div class="show-mobile-menu"></div>
                    </div>
                    <div class="col-lg-9 text-right d-none d-lg-block">
                        <nav class="menu-wrapper">
                            <ul class="main-menu" id="mobile-menu">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#feature">Features</a></li>
                                <li><a href="#page">Pages</a></li>
                                <li><a href="#contact-us">Contact Us</a></li>
                                <li class="search-trigger d-none d-lg-inline-block"><a href="javascript:void(0)"><i class="fas fa-search"></i></a>
								<li class="active"><a href="/login">Login</a></li>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Area -->
    <!-- Start Slider Area -->
    <div class="slider-area ">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="slider-carousel owl-carousel">
                        <div class="single-slider slider-bg-1 text-center">
                            <div class="slider-inner">
                                <h1>WELCOME TO REC-ENGINE</h1>
                                ><h5>Welcome to the single user-friendly recommendation engine in market.</h5>
                            </div>
                        </div>
                        <div class="single-slider slider-bg-2 text-center">
                            <div class="slider-inner">
                                <h1>Free MULTIPURPSE TEMPLATE</h1>
								<h5>Join our user-community now with the no-cost free tier.</h5>                                
                            </div>
                        </div>
                        <div class="single-slider slider-bg-3 text-center">
                            <div class="slider-inner">
                                <h1>WE PROMOTE YOUR BUSINESS</h1>
								<h5>Start promoting you E-Commerce business with the simple, practical and accurate REC-ENGINE.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->
    <!-- Start Hire Us Area -->
    <div class="hire-us-area theme-bg js--sticky-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-9 col-12"  id="feature">
                    <div class="hire-us-content">
                        <h6>We’ve achieved more than <span>1,000,000+</span> batch single request recommendations for our clients.</h6> 
                    </div>  
                </div>
                <div class="col-lg-3 col-md-3  offset-lg-2 col-12 text-right">
                    <a class="btn hire-us-button" href="#contact-us">Hire Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hire Us Area -->
    <!-- Start We are REC-ENGINE Area -->
    <div class="bemax-area gray-bg pt-65 pb-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-70">
                    <div class="section-title">
                        <h4>We are REC-ENGINE</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                           <a href="#"> <i class="fas fa-desktop"></i></a>
                        </div>
                        <div class="item-content">
                            <h6><a href="#">Real-Time Recommendations</a></h6>
                            <p>Get real-time recommendations on your system based on user exprience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <i class="far fa-gem"></i>
                        </div>
                        <div class="item-content">
                            <h6>Very Easy To Use<h6>
                            <p>Simply login to our panel and follow the steps to create your customized REC-ENGINE.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <i class="fas fa-bullhorn"></i>
                        </div>
                        <div class="item-content">
                            <h6>Free Recommendation Requests<h6>
                            <p>Use our free template support to test your datasets and get personalized recommendations.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <i class="fas fa-tablet-alt"></i>
                        </div>
                        <div class="item-content">
                            <h6>Ready to Deploy</h6>
                            <p>REC-ENGINE supports fast deployment as long as the dataset is set for use.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                        <div class="item-content">
                            <h6>Accurate Recommendations<h6>
                            <p>REC-ENGINE uses reliable ML-Algorithms to present the most accurate results.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <i class="fas fa-comments"></i>
                        </div>
                        <div class="item-content">
                            <h6>Awesome Support</h6>
                            <p>Our development is always on standby to help our dear customers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End We are Bemax Area -->
    <!-- Start Why Choose Us Area -->
    <div class="choose-us-area pt-70 pb-70" id="page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-70">
                    <div class="section-title">
                        <h4>Why Choose Us</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="video-img-thumbnail text-center">
                        <a class="video-play" href="https://www.youtube.com/watch?v=9tArgQrJBzE"><i class="far fa-play-circle"></i></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-choose-item">
                        <h6><i class="fas fa-cogs"></i> Awesome Design</h6>
                        <p>The design of the REC-ENGINE makes it very practical to create new recommendation systems.</p>
                    </div>
                    <div class="single-choose-item">
                        <h6><i class="fas fa-gem"></i> Flexible Solutions</h6>
                        <p>You can customize your system to adapt to your different needs and use cases.</p>
                    </div>
                    <div class="single-choose-item">
                        <h6><i class="fas fa-briefcase"></i> Easy to Use</h6>
                        <p>Managed by single panel, REC-ENGINE is very user-friendly experience for anyone to create a recommendation system.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us Area -->
    <!-- Start Brands Area -->
    <div class="brand-area gray-bg pt-70 pb-70">
        <div class="container">
            <div class="brand-carousel owl-carousel">
                <div class="brand-item">
                    <div class="brand-item-inner">
                        <a href="#"><img src="public/img/brands/1.png" alt=""></a>
                    </div>
                </div>
                <div class="brand-item">
                    <div class="brand-item-inner">
                        <a href="#"><img src="public/img/brands/2.png" alt=""></a>
                    </div>
                </div>
                <div class="brand-item">
                    <div class="brand-item-inner">
                        <a href="#"><img src="public/img/brands/3.png" alt=""></a>
                    </div>
                </div>
                <div class="brand-item">
                    <div class="brand-item-inner">
                        <a href="#"><img src="public/img/brands/4.png" alt=""></a>
                    </div>
                </div>
                <div class="brand-item">
                    <div class="brand-item-inner">
                        <a href="#"><img src="public/img/brands/5.png" alt=""></a>
                    </div>
                </div>
                <div class="brand-item">
                    <div class="brand-item-inner">
                        <a href="#"><img src="public/img/brands/6.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brands Area -->
    <!-- Start Footer Area -->
    <footer class="footer-area pt-60 pb-60 black-bg" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html">REC-ENGINE </a>
                        </div>
                        <div class="footer-dec">
                            <p>REC-ENGINE is a clean recommendation system for E-Commerce. You can customize it very easy to fit your needs. Every step is very simple and user-friendly.</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h6>Features</h6>
                        </div>
                        <ul class="footer-menu">
                            <li><a href="#">Terms &and; Condition</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h6>Contact us</h6>
                        </div>
                        <div class="address-line">
                            <p>Address: 2374  Duffy Street, Rising City, Nebraska</p>
                            <p>Phone: <a href="tel:+112345 6999">+(112) 345 6999</a></p>
                            <p>Fax: +(112) 345 8999</p>
                            <p>Email: <a href="mailto:contact@recengine.com">contact@recengine.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h6>Newsletter</h6>
                        </div>
                        <div class="newsletter-text">
                            <p>Subscribe to Newsletters and Stay informed about our news and events</p>
                        </div>
                        <form action="index.html" class="newsletter-form">
                            <input type="email" placeholder="Your email">
                            <input class="btn newsletter-btn" type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
    <!-- End Copyright Area -->
    <div class="copyright-area black-bg">
        <div class="container">
            <div class="row ">
                <div class="col-12 text-center">
                    <div class="copyright-area ">
                        <p>Copyright © 2021 REC-ENGINE All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Area -->
<!-- JS -->
   <!-- Popper.js -->
   <script src="public/js/popper.min.js"></script>
   <!-- Bootstrap.js -->
   <script src="public/js/bootstrap-4.3.1.min.js"></script>
   <!-- Modernizr.js -->
   <script src="public/js/vendor/modernizr-3.5.0.min.js"></script>
   <!-- Owl.Carousel.js -->
   <script src="public/js/vendor/owl.carousel-2.3.4.min.js"></script>
   <script src="public/js/vendor/owl.carousel2.thumbs.min.js"></script>
   <!-- Waypoints.js -->
   <script src="public/js/vendor/waypoints-4.0.1.min.js"></script>
   <!-- ColorNip.js -->
   <script src="public/js/vendor/colornip.min.js"></script>
   <!-- SlickNav.js -->
   <script src="public/js/vendor/slicknav.min.js"></script>
   <!-- ScrollUp.js -->
   <script src="public/js/vendor/jquery.scrollUp.min.js"></script>
   <!-- MagnificPopup.js -->
   <script src="public/js/vendor/magnific-popup.min.js"></script>

   <!-- Main.js -->
   <script src="public/js/main.js"></script>
</body>
</html>
