<h1> UPLOAD FILE </h1>

<div style="background-color: rgb(225, 233, 255); width: 29rem; height: 9rem; padding: 3rem 3rem; border: 1px solid dodgerblue;">
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input class="btn btn-success" type="submit" value="Upload">
    </form>
</div>